<ul>
    <li><a href="/">Nyheter</a></li>
    <li><a href="/tjenester/">Tjenester</a></li>
    <li><a href="/koha/">Koha</a>
        <ul>
        <li><a href="/koha-priser/">Koha priser</a></li>
        <li><a href="/koha-demo/">Koha demo</a></li>
        <li><a href="/gratis-koha/">Gratis Koha</a></li>
        <li><a href="/koha-i-norge/">Koha i Norge</a></li>
        </ul>
    </li>
    <li><a href="/om/">Om Libriotech</a>
        <ul>
        <li><a href="/kunder/">Kunder</a></li>
        </ul>
    </li>
</ul>
